# Relatorio de Analise I

## Abrindo e lendo arquivo

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

ModuleNotFoundError: No module named 'scipy'

In [11]:
dados = pd.read_csv('dados/aluguel.csv', sep= ';')
dados.head(n=10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [9]:
type(dados)

pandas.core.frame.DataFrame

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

## Informaçoes gerais sobre a base de dados

In [16]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [20]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['titulos de Dados'])

In [23]:
tipos_de_dados.columns.name = 'Variaveis'
tipos_de_dados

Variaveis  titulos de Dados
Tipo                 object
Bairro               object
Quartos               int64
Vagas                 int64
Suites                int64
Area                  int64
Valor               float64
Condominio          float64
IPTU                float64

In [25]:
dados.shape

(32960, 9)

In [27]:
print('A base de dados apresenta {} registros (imoveis) e {} variaveis'. format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imoveis) e 9 variaveis