In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_json('informacoes.json')
df.head()

   nome  idade                                          enderecos
0  Jo達o     28  {'tipo': 'casa', 'rua': 'Rua A', 'numero': 123...
1  Jo達o     28  {'tipo': 'trabalho', 'rua': 'Rua B', 'numero':...

In [4]:
with open('informacoes.json') as i:
    json_cru = json.load(i)

In [8]:
informacoes = pd.json_normalize(json_cru, record_path='enderecos', meta=['nome', 'idade'])