In [12]:
import pandas as pd

In [13]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [14]:
# contar a quantida que possuiem de 1 a 2 quartos
# 3 e 4 quartos
# 5 e 6 quartos
# 7 ou mais quartos
classes = [0, 2, 4, 6, 100]

In [15]:
quartos = pd.cut(dados['Quartos'], classes)

In [16]:
pd.value_counts(quartos)

C:\Users\luist\AppData\Local\Temp\ipykernel_14256\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: count, dtype: int64

In [17]:
labels = ['0 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [18]:
quartos = pd.cut(dados['Quartos'], classes, labels= labels, include_lowest=True)

In [19]:
pd.value_counts(quartos)

C:\Users\luist\AppData\Local\Temp\ipykernel_14256\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
0 e 2 quartos        11231
3 e 4 quartos         8094
5 e 6 quartos          470
7 quartos ou mais       36
Name: count, dtype: int64