In [1]:
# Desafio 1

In [2]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [3]:
soma = [sum(lista_de_listas[i]) for i in range(len(lista_de_listas))]
soma

[24, 10, 16]

In [4]:
# Desafio 2

In [5]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [20]:
resposta =[lista[2] for lista in lista_de_tuplas]
resposta

[81, 67, 83]

In [7]:
# Desafio 3

In [8]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

In [9]:
lista_index = []
resposta_2 = [lista_index.append((i , lista[i])) for i in range(len(lista))]
lista_index

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [10]:
# Desafio 4

In [11]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [12]:
valor = [ape[1] for ape in aluguel if ape[0] == "Apartamento"]
valor

[1700, 1400, 1900]

In [13]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [14]:
gastos = [meses, despesa]
gastos

[['Jan',
  'Fev',
  'Mar',
  'Abr',
  'Mai',
  'Jun',
  'Jul',
  'Ago',
  'Set',
  'Out',
  'Nov',
  'Dez'],
 [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]]

In [15]:
colunas = ["meses" , "despesa"]

In [16]:
cadastro = {colunas[i]: gastos[i] for i in range(len(colunas))}
cadastro

{'meses': ['Jan',
  'Fev',
  'Mar',
  'Abr',
  'Mai',
  'Jun',
  'Jul',
  'Ago',
  'Set',
  'Out',
  'Nov',
  'Dez'],
 'despesa': [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]}

In [21]:
# Desafio 6

In [23]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [28]:
filtro = [venda[1] for venda in vendas if venda[0] == '2022' and venda[1] >= 6000]
filtro

[8883, 7688, 9544, 8190]

In [29]:
# Desafio 7

In [30]:
    glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [36]:
analise = ["Hipoglicemia" if valor <= 70 else "Normal" if valor > 70 and valor < 99 else "Alterado" if valor >100 and valor<125 else "Diabetes" for valor in glicemia ]
analise

['Diabetes',
 'Normal',
 'Hipoglicemia',
 'Normal',
 'Alterado',
 'Hipoglicemia',
 'Hipoglicemia',
 'Diabetes',
 'Normal',
 'Hipoglicemia',
 'Hipoglicemia',
 'Normal',
 'Hipoglicemia',
 'Alterado',
 'Alterado',
 'Hipoglicemia',
 'Normal',
 'Normal',
 'Alterado',
 'Normal',
 'Diabetes',
 'Hipoglicemia',
 'Normal',
 'Normal']

In [40]:
tabela = [glicemia, analise]
colunas = ["glicemia", "analise"]
tabela_valores = {colunas[i]: tabela[i] for i in range(len(colunas))}
tabela_valores

{'glicemia': [129,
  82,
  60,
  97,
  101,
  65,
  62,
  167,
  87,
  53,
  58,
  92,
  66,
  120,
  109,
  62,
  86,
  96,
  103,
  88,
  155,
  52,
  89,
  73],
 'analise': ['Diabetes',
  'Normal',
  'Hipoglicemia',
  'Normal',
  'Alterado',
  'Hipoglicemia',
  'Hipoglicemia',
  'Diabetes',
  'Normal',
  'Hipoglicemia',
  'Hipoglicemia',
  'Normal',
  'Hipoglicemia',
  'Alterado',
  'Alterado',
  'Hipoglicemia',
  'Normal',
  'Normal',
  'Alterado',
  'Normal',
  'Diabetes',
  'Hipoglicemia',
  'Normal',
  'Normal']}

In [41]:
# Desafio 8

In [42]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

In [46]:
total = [quantidade[i] * preco[i] for i in range(len(quantidade))]
tabela_e_commerce = [id, quantidade, preco, total]
cabecalho = ["Id", "Quantidade", "Preco", "Total"]

tablea_final = {cabecalho[i]: tabela_e_commerce[i] for i in range(len(cabecalho))}
tablea_final

{'Id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'Quantidade': [15, 12, 1, 15, 2, 11, 2, 12, 2, 4],
 'Preco': [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0],
 'Total': [1395.0,
  1224.0,
  18.0,
  615.0,
  244.0,
  154.0,
  142.0,
  576.0,
  28.0,
  576.0]}

In [48]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
estados_unicos = list(set(estados))

# Criando uma lista de listas com valores repetidos de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [uf for uf in estados if uf == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(contagem_valores)

[['RJ', 'RJ'], ['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG'], ['ES', 'ES', 'ES', 'ES', 'ES', 'ES']]
{'RJ': 2, 'SP': 8, 'MG': 7, 'ES': 6}

In [50]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))
print(estados_unicos)

lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário com dados agrupados de funcionário por estado
agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

# Criando um dicionário com a soma de funcionários por estado
soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)

['RJ', 'SP', 'MG', 'ES']
[[13, 9], [16, 10, 7, 11, 9, 12, 7, 10], [9, 6, 4, 8, 5, 10, 12], [8, 9, 7, 12, 8, 14]]
{'RJ': [13, 9], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'MG': [9, 6, 4, 8, 5, 10, 12], 'ES': [8, 9, 7, 12, 8, 14]}
{'RJ': 22, 'SP': 82, 'MG': 54, 'ES': 58}